*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body,html{
    height: 100%;
    width: 100%;
    background-image: url(./assets/forest.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.cnt1{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
}
.gameDetails{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.score{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.cnt2{
    height: 75%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
}
.cardContainer{
    height: 30%;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 50%;
}
.cardContainer > img{
    height: 80%;
}
.cardContainer > p{
    font-family: inherit;
    font-size: 1vw;
}
